{{!log 'jiObject' jiA}}
{{!log 'arrayedObj' arrayedArray}}

{{!--
                 _____    _____              __     __
         /\     |  __ \  |  __ \      /\     \ \   / /
        /  \    | |__) | | |__) |    /  \     \ \_/ /
       / /\ \   |  _  /  |  _  /    / /\ \     \   /
      / ____ \  | | \ \  | | \ \   / ____ \     | |
     /_/    \_\ |_|  \_\ |_|  \_\ /_/    \_\    |_|
--}}


<div layout="row">

    <div>
        {{#md-button class="ji-button" action="toggleExpanded"}}
            {{#if isExpanded }}
                {{material-design-icon name='menu-down'}}
            {{/if}}

            {{#unless isExpanded }}
                {{material-design-icon name='menu-right'}}
            {{/unless}}
        {{/md-button}}
    </div>


<div> [

{{#if isExpanded}}

    {{#each arrayedArray as |obj|}}

        <div layout="row" class="jiRow">
            {{json-inspector inspectThis=obj.val path=obj.path updatePath="updatePath" isLast=obj.isLast}}
        </div>

    {{/each}}

{{else}}
...
{{/if}}  {{! /if isExpanded }}

]{{#unless isLast}},{{/unless}}

</div>

</div>  {{! div[layout=row] }}
