{{!log 'jiObject' jiA}}
{{!log 'arrayedObj' arrayedArray}}

{{!--
                 _____    _____              __     __
         /\     |  __ \  |  __ \      /\     \ \   / /
        /  \    | |__) | | |__) |    /  \     \ \_/ /
       / /\ \   |  _  /  |  _  /    / /\ \     \   /
      / ____ \  | | \ \  | | \ \   / ____ \     | |
     /_/    \_\ |_|  \_\ |_|  \_\ /_/    \_\    |_|
--}}

[

{{#each arrayedArray as |obj|}}

    {{!log 'jio' this content}}

    <div layout="row" class="jiRow">
        {{!-- <div><span class="jiKey" {{action 'updatePath' obj.path}}>"{{obj.key}}":&nbsp;</span></div> --}}
        <div class="jiVal">
            {{json-inspector inspectThis=obj.val path=obj.path updatePath="updatePath" isLast=obj.isLast}}
        </div>
    </div>
{{/each}}

]{{#unless isLast}},{{/unless}}
