html body {
  padding:24px;
  height: auto;
}

#title {
  margin-top: 0px;
  font-variant: small-caps;
  text-align: center;
}

h2.md-title {
  font-weight: bold;
  font-variant: small-caps;
}

$keyBackgroundColor: white;
$keyBorderColor: white;

$valueBackgroundColor: white;
$valueBorderColor: white;

$arrayBackgroundColor: white;
$arrayBorderColor: white;

$objectBackgroundColor: white;
$objectBorderColor: white;

/* THANK YOU!: http://paletton.com/ */


$oaBackground: rgba(119,208,255,.4);
$oaBorder: rgba( 13,170,255,0.2);

$objectBackgroundColor: $oaBackground;
$objectBorderColor:  $oaBorder;

$arrayBackgroundColor: $oaBackground;
$arrayBorderColor: $oaBorder;


$keyBackgroundColor:  rgba( 79,201, 72,.95);
$keyBorderColor: rgba( 25,149, 18,1);

$valueBackgroundColor: rgba( 13,170,255,.6);
$valueBorderColor: rgba(  0, 90,138,.5);




// div.jiRow {
//   margin-left: 16px;
// }

.jiRow > * {
  margin: 0px 8px; 
}

.ji-array {
  background: $arrayBackgroundColor none repeat scroll 0 0;
  border: 2px solid $arrayBorderColor;
  padding: 4px;
}

.ji-object {
  background: $objectBackgroundColor none repeat scroll 0 0;
  border: 2px solid $objectBorderColor;
  padding: 4px;
}

.jiKey {
  background-color: $keyBackgroundColor;
  border: 2px solid $keyBorderColor;
  // padding: 4px 0px 4px 8px;
  // margin-right: 4px;
}

.jiVal {
  background-color: $valueBackgroundColor;
  border: 2px solid $valueBorderColor;
  padding: 4px 8px 4px 8px;
  margin-right: 4px;
}

.ji-button {
   line-height: 20px !important;
   font-size: 20px !important;
   margin: 0px !important;
   padding: 0px !important;
   min-width: 0px !important;
   min-height: 0px !important;
}


.jsonInput {
  max-width: 100%;
}

/*
   STICKY BOX
*/
.sticky {
  z-index:999;
}
.propertyPath {
  padding: 8px;
  background-color: white;
}
.propertyPath input {
  width: 97%;
  margin: 8px;
}



$primary: 'light-blue';

@import "ember-material-design";
