{{!log 'jiObject' jiObject}}
{{!log 'arrayedObj' arrayedObj}}

{{!--
   ____    ____         _   ______    _____   _______
  / __ \  |  _ \       | | |  ____|  / ____| |__   __|
 | |  | | | |_) |      | | | |__    | |         | |
 | |  | | |  _ <   _   | | |  __|   | |         | |
 | |__| | | |_) | | |__| | | |____  | |____     | |
  \____/  |____/   \____/  |______|  \_____|    |_|


  --}}

{
{{#each arrayedObj as |obj|}}
    {{!log 'jio' this content}}
    <div layout="row" class="jiRow">
        <div><span class="jiKey" {{action 'updatePath' obj.path}}>"{{obj.key}}":&nbsp;</span></div>
        <div class="jiVal">
            {{json-inspector inspectThis=obj.val path=obj.path updatePath="updatePath" isLast=obj.isLast}}
        </div>
    </div>
{{/each}}
}{{#unless isLast}},{{/unless}}

{{!yield}}

